body,
textarea,
select,
input,
button {
  font-size: 12px;
  color: #333;
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}
.wrap-v1 {
  width: 1100px;
  margin: 0 auto;
}
.wrap-v2 {
  width: 980px;
  margin: 0 auto;
}
.sprite_01 {
  background: url(../img/sprite_01.png) no-repeat 0 9999px;
}
.sprite_02 {
  background: url(../img/sprite_02.png) no-repeat 0 9999px;
}
.banner_sprite {
  background: url(../img/banner_sprite.png) no-repeat 0 9999px;
}
.sprite_cover {
  background: url(../img/sprite_cover.png) no-repeat 0 9999px;
}
.sprite_icon {
  background: url(../img/sprite_icon.png) no-repeat 0 9999px;
}
.icon_play {
  display: inline-block;
  background: url(../img/sprite_icon.png) no-repeat 0 -85px;
}
.icon_play2 {
  display: inline-block;
  background: url(../img/sprite_02.png) -267px -268px;
  &:hover {
    background-position: -267px -288px;
  }
}
.icon_add {
  display: inline-block;
  margin: 2px 6px 0 0;
  position: relative;
  top: 2px;
  background: url(../img/sprite_icon2.png) 0 -700px;
  &:hover {
    background-position: -22px -700px;
  }
}
.icon_favour {
  display: inline-block;
  background: url(../img/sprite_02.png) -297px -268px;
  &:hover {
    background-position: -297px -288px;
  }
}
